@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Kaushan+Script&family=Merienda:wght@400;700&family=Mitr:wght@300;400&family=Mochiy+Pop+P+One&family=Monoton&family=Mukta:wght@400;500&family=Nunito+Sans:wght@400;600&family=Nunito:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&family=Tourney:wght@200;300;400;500;600;700;800&family=Varela+Round&display=swap");
/* font-family: 'Aladin', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Merienda', cursive;
font-family: 'Mitr', sans-serif;
font-family: 'Mochiy Pop P One', sans-serif;
font-family: 'Monoton', cursive;
font-family: 'Mukta', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Tourney', cursive;
font-family: 'Varela Round', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --bgcolor: #000000;
  --bgcolor2: #fff;
  --seccolor: #5a5c5b;
  --maincolor: #870cb8;
  --special: rgba(198, 12, 245, 0.479);
  --third: #e23b64;
  --body-bg: #181616;
  --box-bg: #221f1f;
}

body {
  padding: 0;
  min-height: 100vh;
}

.main-login {
  width: 25rem;
  margin: 2rem auto;
  height: 35em;
  overflow: hidden;
  background: url("/public/img/l10.jpg") no-repeat center / cover;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.726);
}
.login {
  background: #0000009c;
  padding: 2rem 0rem;
}
.login-label {
  color: #fff;
  font-size: 2.7rem;
  font-family: "Aladin";
  justify-content: center;
  display: flex;
  letter-spacing: 2px;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.login input {
  width: 60%;
  height: 20px;
  background: transparent;
  justify-content: center;
  display: flex;
  color: #fff;
  margin: 30px auto;
  padding: 20px 15px;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  border: 2px solid rgb(245, 244, 244);
}
::placeholder {
  color: #ffffff;
  font-size: 0.8em;
}

.login .mybtn {
  margin: 10px auto;
  margin-top: 40px !important;
  justify-content: center;
  display: block;
  background: transparent;
  border: none;
  font-weight: bold;
  outline: none;
}
.login .disabled a{
  /* background: #fff !important; */
  /* color: var(--third); */
}
.login button a {
  transition: 0.5s ease-in;
  border-radius: 20px;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: "Aladin";
  padding: 0.3rem 5rem;
  text-decoration: none;
  font-size: 1.8rem;
  color: #000 !important;
  background: #d62c57;
}

.login button a:hover {
  background:#fff;
  color: var(--third) !important;
}


/*---------movie section ----------------*/
.search-btn{
  margin: 0 auto;
  text-align: center;
}
.search-btn button{
  text-align: center;
}
.movie-box{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 padding: 8rem 1rem 1rem 1rem;
}
.inner-movie{
  border-radius: 15px;
  width: 18rem;
  padding: 1rem;
  border: 2px solid #000;
}

.movie-img{
  overflow: hidden;
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  margin: 0 auto;
}
.inner-movie  .movie-img  img{
  object-fit: cover;
  width: 12rem;
  height: 12rem;
}
.inner-movie h4{
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
}

/*-----------mode*/
.dark-mode {
  background-color: #1a1919;
  color: #999;
  height: 100%;
  transition: background-color 0.25s ease-in-out;
}

.light-mode {
  background-color: #fff;
  color: #333;
  height: 100%;
  transition: background-color 0.25s ease-in-out;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 14px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.mode input:checked + .slider {
  background-color: #19a2c1;
}

.mode input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.mode input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.switch-checkbox {
  padding: 10px;
}



@media (max-width: 1100px) {

  .form-label {
    font-size: 2rem;
  }

}

@media (max-width: 800px) {
  
}

@media (max-width: 600px) {
  .main-login {
    margin: 0;
    border-radius: 0rem;
    height: 100vh;
    width: 100%;
  }

  .form-label {
    font-size: 1.5rem;
  }

}

@media (max-width: 450px) {

  .form-label {
    font-size: 1rem;
  }

  
}