@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Kaushan+Script&family=Merienda:wght@400;700&family=Mitr:wght@300;400&family=Mochiy+Pop+P+One&family=Monoton&family=Mukta:wght@400;500&family=Nunito+Sans:wght@400;600&family=Nunito:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&family=Tourney:wght@200;300;400;500;600;700;800&family=Varela+Round&display=swap");
/* font-family: 'Aladin', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Merienda', cursive;
font-family: 'Mitr', sans-serif;
font-family: 'Mochiy Pop P One', sans-serif;
font-family: 'Monoton', cursive;
font-family: 'Mukta', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Tourney', cursive;
font-family: 'Varela Round', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --bgcolor: #000000;
  --bgcolor2: #fff;
  --seccolor: #5a5c5b;
  --maincolor: #870cb8;
  --special: rgba(198, 12, 245, 0.479);
  --third: #e23b64;
  --body-bg: #181616;
  --box-bg: #221f1f;
}

.myloader {
  margin: 0 auto !important;
  top: 16rem;
  position: relative;
  text-align: center;
}

.myloader h3 {
  font-size: 3rem;
  margin-top: .8rem;
}

.myloader h3 i {
  color: var(--third);
  font-size: .8rem;
}

body {
  padding: 0;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 0.8em;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: transparent;
  box-shadow: inset 0 0 10px transparent;
}

::-webkit-scrollbar-thumb {
  width: 0.3em;
  border-radius: 20px;
  background-color: #f193ab;
}

.main-login {
  width: 25rem;
  margin: 2rem auto;
  height: 35em;
  overflow: hidden;
  background: url("/public/img/l10.jpg") no-repeat center / cover;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.726);
}

.login {
  width: 100%;
  height: 100vh;
  padding: 2rem 0rem;
}

.login-label {
  color: #fff;
  font-size: 2.7rem;
  font-family: "Aladin";
  justify-content: center;
  display: flex;
  letter-spacing: 2px;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.login input {
  color: #fff;
  width: 60%;
  height: 20px;
  background: transparent !important;
  justify-content: center;
  display: flex;
  margin: 30px auto;
  padding: 20px 15px;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  border: 2px solid;
}

::placeholder {
  color: #ffffff;
  font-size: 0.8em;
}

.login .mybtn {
  margin: 10px auto;
  margin-top: 40px !important;
  justify-content: center;
  display: block;
  border: none;
  background: var(--third);
  font-weight: bold;
  outline: none;
}

.login .disabled {
  color: var(--third);
  background: #fff;
}

.login button {
  transition: 0.5s ease-in;
  border-radius: 20px;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: "Aladin";
  padding: 0.3rem 5rem;
  text-decoration: none;
  font-size: 1.8rem;
  background: var(--third);
  color: #fff;

}

.login button:hover {
  background: #fff;
  color: #000 !important;
}


/*-----------------------------
      movie section 
-------------------------------*/
.my-movie-list {
  position: absolute;
  visibility: hidden;
  color: var(--third);
  top: 6rem;
  font-family: "Aladin";
}

#ref,
#movie-btn {
  visibility: hidden;
}

.main-search {
  text-align: center !important;
  margin-top: 8rem;
  justify-content: center;
}

.main-search button {
  padding: 2rem 5rem;
  font-size: 2rem !important;
}

.movie-btn {
  display: flex;
  margin: 0 auto;
  position: fixed;
  z-index: 1;
  top: 5rem;
  width: 100%;
  padding: 0rem 3rem;
  justify-content: space-between;
}

.movie-btn i {
  font-size: 2rem;
}

.navbar {
  padding: 0rem 5rem;
}

.navbar-brand {
  font-family: "Aladin";
  font-size: 3.5rem;
  color: var(--third) !important;
}

.search-btn {
  padding: 5rem 0rem 2rem 0rem;
  text-align: center;
  text-align: center;
}

.search-btn button {
  text-align: center;
}

.back .inner-movie .card-body {
  overflow-y: scroll !important;
}

.inner-movie {
  width: 17rem;
  padding: .5rem;
}

.in-box-1 {
  padding: 2rem .5rem 1rem .5rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.cards {
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.front,
.back {
  backface-visibility: hidden;
  height: 30rem;
}

.back {
  overflow: hidden;
  position: absolute;
  bottom: 0rem;
  transform: rotateY(180deg);
}

.card-title,
.card-footer small span {
  font-family: 'Roboto', sans-serif;
}

.card-text {
  font-family: 'Roboto';
}

.card-title span,
.card-footer small span {
  font-weight: bold;
  color: #d62c57;
}

.card-text span {
  font-weight: bolder;
  color: var(--third);
}

.inner-movie h4 {
  font-family: 'Nunito', sans-serif;
}

/*-----------------------------
        mode
--------------------------------*/

.mode {
  position: fixed;
  right: 0rem;
  bottom: 5rem;
  border: 1px solid #000;
  border-radius: 27px;
  z-index: 1;
}

.mode .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 14px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme i {
  font-size: 2rem;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch input:checked+.slider {
  background-color: #19a2c1;
}

.switch input:focus+.slider {
  box-shadow: 0 0 1px #2196f3;
}

.switch input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-checkbox {
  padding: 5px;
}


 /*------------------------
 media queries
 ----------------------*/
@media (max-width: 1100px) {
  .form-label {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .inner-movie {
    width: 15rem;
  }

  .card-body {
    padding: 1rem .5rem 0rem .5rem;
  }

  .card-footer {
    padding: 0.5rem 0.5rem;
  }

  .front,
  .back {
    height: 25rem;
  }

  .movie-btn {
    padding: 0rem .5rem;
    position: fixed;
  }

  .navbar {
    padding: .5rem 1rem;
  }

  .navbar-brand {
    font-size: 2rem;
  }

  .main-login {
    margin: 0;
    border-radius: 0rem;
    height: 100vh;
    width: 100%;
  }

  .form-label {
    font-size: 1.5rem;
  }

  .theme i {
    font-size: 1.5rem;
  }

  .switch-checkbox {
    padding: 3px;
  }

  .slider:before {
    height: 20px;
    width: 22px;
    left: 4px;
    bottom: 4px;
  }

  .switch {
    width: 55px;
    height: 28px;
  }

  .back .card-body {
    padding: 1rem 0rem 0rem 0.5rem;
  }
}

@media (max-width: 450px) {

  .form-label {
    font-size: 1rem;
  }

  .front,
  .back {
    height: 29rem;
  }

  .inner-movie {
    width: 17rem;
    padding: 0.5rem !important;
  }

  .back .inner-movie {
    padding: 0rem !important;
  }

  .mode {
    right: 0rem;
    border: 1px solid #000;
  }

  .login .mybtn {
    margin: 40px auto;
    margin-top: 5rem !important;
  }

  form {
    margin-top: 6rem;
  }
}